<div class="expiration clearfix">
    <span data-ng-if="$ctrl.isInAutoRenew() && !$ctrl.isExpired()"
          data-translate="expiration_renew_date"
          data-translate-values="{ t0: ($ctrl.serviceInfos.expiration | date:'MMM yyyy') }"></span>
    <span data-ng-if="!$ctrl.isInAutoRenew() && !$ctrl.isExpired()"
          data-translate="{{ :: $ctrl.hasBeenTerminated() ? 'expiration_resiliation_date' : 'expiration_expiration_date' }}"
          data-translate-values="{ t0: ($ctrl.serviceInfos.expiration | date:'mediumDate') }"></span>
    <span data-ng-if="$ctrl.isExpired()"
          data-translate="expiration_expired_date"
          data-translate-values="{ t0: ($ctrl.serviceInfos.expiration | date:'mediumDate') }"></span>

    <a class="oui-link"
       data-ng-if="::(!$ctrl.isInAutoRenew() && $ctrl.getRenewUrl() && !$ctrl.hideRenewAction) || $ctrl.isExpired()"
       data-ng-switch="$ctrl.hasBeenTerminated()"
       data-ng-href="{{::$ctrl.getRenewUrl()}}"
       data-track-on="click"
       data-track-name="renew-{{::$ctrl.serviceType.toLowerCase()}}"
       data-track-click="action">
        <span data-ng-switch-when="false" data-translate="expiration_wizard_renew"></span>
        <span data-ng-switch-when="true" data-translate="expiration_resiliation_cancel_label"></span>
    </a>
</div>
