<div class="expiration clearfix">
    <span data-ng-if="$ctrl.isInAutoRenew() && !$ctrl.isExpired()"
          data-ng-bind-html=":: 'expiration_renew_date' | translate: { t0: ($ctrl.serviceInfos.expiration|date:'MMM yyyy') }"></span>
    <span data-ng-if="!$ctrl.isInAutoRenew() && !$ctrl.isExpired()"
          data-ng-bind-html=":: ($ctrl.hasBeenTerminated() ? 'expiration_resiliation_date' : 'expiration_expiration_date') | translate: { t0: ($ctrl.serviceInfos.expiration|date:'mediumDate') }"></span>
    <span data-ng-if="$ctrl.isExpired()"
          data-ng-bind-html=":: 'expiration_expired_date' | translate: { t0: ($ctrl.serviceInfos.expiration|date:'mediumDate') }"></span>

    <a class="ml-3"
       data-ng-if="::(!$ctrl.isInAutoRenew() && $ctrl.getRenewUrl() && !$ctrl.hideRenewAction) || $ctrl.isExpired()"
       data-ng-switch="$ctrl.hasBeenTerminated()"
       data-ng-href="{{::$ctrl.getRenewUrl()}}"
       data-track-on="click"
       data-track-name="renew-{{::$ctrl.serviceType.toLowerCase()}}"
       data-track-click="action">
        <span data-ng-switch-when="false" data-translate="expiration_wizard_renew"></span>
        <span data-ng-switch-when="true" data-translate="expiration_resiliation_cancel_label"></span>
    </a>
</div>
